@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.body{
    margin: 0;
    padding: 0;
    background-color:#eceaea;
}

a{
    text-decoration:none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes hovershadow{
    from { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    to   { box-shadow: 0 4px 8px 0 rgba(138, 43, 226, 1), 0 6px 20px 0 rgba(138, 43, 226, 1);}
}

button{
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: blueviolet;
    height: 30px;
    width: auto;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-contact-info{
    width: 100%;
    height: 400px;
}

.item{
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: blueviolet;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    margin-bottom: 15px;
    animation: fadein 2s;
}

.item:hover{
    box-shadow: 0 4px 8px 0 rgba(138, 43, 226, 1), 0 6px 20px 0 rgba(138, 43, 226, 1);
    transition: all 0.3s;
}

.item-info{
    justify-content: space-between;
    background-color: white;
    font-family: "Roboto", sans-serif;
    height: 100px;
    color: blueviolet;
}

.item-price{
    margin-top: 5px;
    font-weight: bold;
    color: blueviolet;
}
.item img{
    width: 200px;
    height: 200px;
}

.product-wrapper{
    height: 100%;
    width: 900px;
    margin: auto;
    margin-top: 5px;
}

.load-more-button{
    width: 100%;
    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

.load-more-button button{
    height: 40px;
    font-size: 18px;
    padding: 10px;
}
/* Info bar */
.info-bar{
    border-style: solid;
    border-width: 1px;
    border-color: blueviolet;
    border-radius: 5px;
    background-color: white;
    width: 900px;
    margin: auto;
    height: 60px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}

.info-bar-items-shown{
    width: 900px;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: blueviolet;
}

.info-bar-sorting{
    margin-right: 2%;
}

.info-bar-buttons{
    margin-left: 2%;
}

.info-bar button:hover{
    background-color: white;
    color: blueviolet;
    transition: all 0.2s;
}

/* Filterbox */
.filter-box{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: blueviolet;
    border-radius: 5px;
    width: 900px;
    margin: auto;
    height: auto;
    font-family: "Roboto", sans-serif;
    align-items: center;
    animation: fadein 0.5s;
}

.filter-box-checkboxes{
    margin-top: 2%;
    margin-left: 2%;
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Responsive design */
@media (max-width: 900px){
    .product-wrapper{
        width: 700px;
    }

    .info-bar{
        width: 700px;
    }
}

@media (max-width: 700px){
    .product-wrapper{
        width: 500px;
    }

    .info-bar{
        width: 500px;
    }
}