@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.header{
    margin-bottom: 15px;
    background: blueviolet;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    width: 80px;
}

.header-icon{
    border-style: solid;
    border-color: blueviolet;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.header-icon:hover{
    border-color: white;
}

.header-icon-img{
    width: 40px;
    display: flex;
}

.buttons{
    width: 200px;
    display: flex;
}

.buttons button{
    background-color: white;
    color: black;
    height: 30px;
    width: 100px;
    border: black;
    padding: 5px 5px;
}

.buttons button:hover{
    background-color: green;
    color: white;
}

.header-badge {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    position: absolute;
    padding: 3px 8px;
    background: red;
    bottom: 18px;
    right: 54px;
    color: white;
    border-radius: 100%;
}