
.header{
    margin-bottom: 15px;
    background: blueviolet;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top: 0;
}

.logo{
    width: 80px;
}

.header_icon{
    width: 40px;
    display: flex;
}

.buttons{
    width: 200px;
    display: flex;
}

.buttons button{
    background-color: white;
    color: black;
    height: 30px;
    width: 100px;
    border: black;
    padding: 5px 5px;
}

.buttons button:hover{
    background-color: green;
    color: white;
}

.divider{
    width:50px;
    height:auto;
    display:flex;
}
